<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="proj.android.zyl.finance_pro">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Ver03版本 -->

        <activity
            android:name=".projx.ver03.Navigation01_MainActivity.Navigation_MainActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".projx.ver03.Navigation02_AddActivity.Navigation_AddActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".projx.ver03.Navigation03_DataActivity.Navigation_DataActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".projx.ver03.Navigation04_SettingsActivity.Navigation_SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".projx.ver03.Navigation05_AboutActivity.Navigation_AboutActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>


        <!-- Ver01版本 -->
        <activity
            android:name=".projx.ver01.ProjXLogin"
            android:label="@string/app_name">

            <!-- android:theme="@style/AppTheme.NoActionBar" -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".projx.ver01.ProjXActivity" />
        <activity android:name=".projx.ver01.ProjXRegister" />
        <activity android:name=".projx.ver01.ProjXShowinfo" />
        <activity android:name=".projx.ver01.ProjXInfoManage" />
        <activity android:name=".projx.ver01.ProjXFlagManage" />
        <activity android:name=".projx.ver01.ProjXAddFlag" />
        <activity android:name=".projx.ver01.ProjXAddFlag" />
        <activity android:name=".projx.ver01.ProjXAddOutaccount" />
        <activity android:name=".projx.ver01.ProjXAddInaccount" />
        <activity android:name=".projx.ver01.ProjXOutaccountinfo" />
        <activity android:name=".projx.ver01.ProjXInaccountinfo" />
        <activity android:name=".projx.ver01.ProjXShowinfo" />
        <activity android:name=".projx.ver01.ProjXSysset" />
        <activity android:name=".projx.ver01.ProjXFlagManage" />
    </application>

</manifest>